
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 26px;
  margin-left: 50px;
}

.openbtn {
  position: fixed;
  top: 0px;
  left: 0px;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  color: black;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

.transition {
  transition: .3s cubic-bezier(.3, 0, 0, 1.3)
}

.card {
  background-color: #fff;
  bottom: 0;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  height: 300px;
  margin: auto;
  overflow: hidden;
  position: absolute;
  left: 100px;
  top: 900px;
  width: 300px;
}

.card:hover {
  height: 450px;
  width: 300px;
}

.card:hover .cta-container {
  display: inline;
  margin-top: 380px;
}

.card:hover .card_circle {
  background-size: cover;
  border-radius: 0;
  margin-top: -130px;
}

.card:hover h2 {
  background: #8697A6;
  color: #fff;
  margin-top: 100px;
  padding: 5px;
}

.card:hover h2 small {
  color: #fff
}

.card:hover p {
  margin-top: 300px
}

.card_circle {
  background: url(../images/fidget.jpg) no-repeat center bottom;
  background-color: #3487f7;
  background-size: cover;
  border-radius: 50%;
  height: 400px;
  margin-left: -75px;
  margin-top: -270px;
  position: absolute;
  width: 450px;
}

h2 {
  color: ;
  font-family: 'quiche-sans', sans-serif;
  font-size: 24px;
  font-weight: 200;
  margin-top: 150px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9999;
}

p {
  color: rgba(0, 0, 0, .6);
  font-family: 'playfair-display', sans-serif;
  font-size: 100%;
  font-weight: normal;
  margin-top: 200px;
  position: absolute;
  text-align: center;
  z-index: 9999;
}

.cta-container {
  display: none;
  margin-top: 320px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9999;
}

.cta {
  padding: 1em;
  border-radius: 2px;
  transition: 0.2s ease-out;
  background-clip: padding-box;
  border: 2px solid #8697A6;
  border-radius: 2px;
  color: #8697A6;
  font-family: 'playfair-display', sans-serif;
  font-size: 17px;
  font-weight: 400;
  height: 36px;
  letter-spacing: 0.5px;
  line-height: 36px;
  margin-bottom: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s ease-out;
}

.cta:hover {
  background-color: #8697A6;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
}

.transition-1 {
  transition: .3s cubic-bezier(.3, 0, 0, 1.3)
}

.card-1 {
  background-color: #fff;
  bottom: 0;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  height: 300px;
  margin: auto;
  overflow: hidden;
  position: absolute;
  left: 475px;
  top: 900px;
  width: 300px;
}

.card-1:hover {
  height: 450px;
  width: 300px;
}

.card-1:hover .cta-container-1 {
  display: inline;
  margin-top: 380px;
}

.card-1:hover .card_circle-1 {
  background-size: cover;
  border-radius: 0;
  margin-top: -130px;
}

.card-1:hover h2 {
  background: #8697A6;
  color: #fff;
  margin-top: 100px;
  padding: 5px;
}

.card-1:hover h2 small {
  color: #fff
}

.card-1:hover p {
  margin-top: 300px
}

.card_circle-1 {
  background: url(../images/meditation.jpg) no-repeat center bottom;
  background-color: #3487f7;
  background-size: cover;
  border-radius: 50%;
  height: 400px;
  margin-left: -75px;
  margin-top: -270px;
  position: absolute;
  width: 450px;
}

h2 {
  color: ;
  font-family: 'quiche-sans', sans-serif;
  font-size: 24px;
  font-weight: 200;
  margin-top: 150px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9999;
}

p {
  color: rgba(0, 0, 0, .6);
  font-family: 'playfair-display', sans-serif;
  font-size: 100%;
  font-weight: normal;
  margin-top: 200px;
  position: absolute;
  text-align: center;
  z-index: 9999;
}

.cta-container-1 {
  display: none;
  margin-top: 320px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9999;
}

.cta-1 {
  padding: 1em;
  border-radius: 2px;
  transition: 0.2s ease-out;
  background-clip: padding-box;
  border: 2px solid #8697A6;
  border-radius: 2px;
  color: #8697A6;
  font-family: 'playfair-display', sans-serif;
  font-size: 17px;
  font-weight: 400;
  height: 36px;
  letter-spacing: 0.5px;
  line-height: 36px;
  margin-bottom: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.cta-1:hover {
  background-color: #8697A6;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
}

.transition-2 {
  transition: .3s cubic-bezier(.3, 0, 0, 1.3)
}

.card-2 {
  background-color: #fff;
  bottom: 0;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  height: 300px;
  margin: auto;
  overflow: hidden;
  position: absolute;
  left: 850px;
  top: 900px;
  width: 300px;
}

.card-2:hover {
  height: 450px;
  width: 300px;
}

.card-2:hover .cta-container-2 {
  display: inline;
  margin-top: 380px;
}

.card-2:hover .card_circle-2 {
  background-size: cover;
  border-radius: 0;
  margin-top: -130px;
}

.card-2:hover h2 {
  background: #8697A6;
  color: #fff;
  margin-top: 100px;
  padding: 5px;
}

.card-2:hover h2 small {
  color: #fff
}

.card-2:hover p {
  margin-top: 300px
}

.card_circle-2 {
  background: url(../images/silk.jpg) no-repeat center bottom;
  background-color: #3487f7;
  background-size: cover;
  border-radius: 50%;
  height: 400px;
  margin-left: -75px;
  margin-top: -270px;
  position: absolute;
  width: 450px;
}

h2 {
  color: ;
  font-family: 'quiche-sans', sans-serif;
  font-size: 24px;
  font-weight: 200;
  margin-top: 150px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9999;
}

p {
  color: rgba(0, 0, 0, .6);
  font-family: 'playfair-display', sans-serif;
  font-size: 100%;
  font-weight: normal;
  margin-top: 200px;
  position: absolute;
  text-align: center;
  z-index: 9999;
}

.cta-container-2 {
  display: none;
  margin-top: 320px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9999;
}

.cta-2 {
  padding: 1em;
  border-radius: 2px;
  transition: 0.2s ease-out;
  background-clip: padding-box;
  border: 2px solid #8697A6;
  border-radius: 2px;
  color: #8697A6;
  font-family: 'playfair-display', sans-serif;
  font-size: 17px;
  font-weight: 400;
  height: 36px;
  letter-spacing: 0.5px;
  line-height: 36px;
  margin-bottom: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s ease-out;
}

.cta-2:hover {
  background-color: #8697A6;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
}

a.sec {
  z-index: 2;
  margin: 30px;
  margin-top: 60px;
  text-decoration: none;
  background: transparent;
  padding: 20px 40px;
  font-size: 16px;
  font-family: sans-serif;
  letter-spacing: 2px;
  transition: all 0.5s;
  position: absolute;
  top: 450px;
}

a.sec:before {
  content: "Next";
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background: transparent;
  font-size: 16px;
  top: 0;
  left: 100%;
  font-family: sans-serif;
  letter-spacing: 2px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(0) rotatey(0);
  opacity: 0;
}

a.sec:hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
}

a.sec:after {
  content: "Next";
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background: transparent;
  font-size: 16px;
  top: 0;
  left: 0;
  font-family: sans-serif;
  letter-spacing: 2px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1) rotatey(0);
  opacity: 1;
}

a.sec:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
}

a.sec2 {
  z-index: 2;
  text-decoration: none;
  background: transparent;
  padding: 20px 40px;
  font-size: 16px;
  font-family: sans-serif;
  letter-spacing: 2px;
  transition: all 0.5s;
  position: absolute;
  top: 1050px;
  right: 45%;
}

a.sec2:before {
  content: "Next";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: transparent;
  font-size: 16px;
  top: 0;
  left: 100%;
  font-family: sans-serif;
  letter-spacing: 2px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  transform: scale(0) rotatey(0);
  opacity: 0;
}

a.sec2:hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
}

a.sec2:after {
  content: "Next";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: transparent;
  font-size: 16px;
  top: 0;
  left: 0;
  font-family: sans-serif;
  letter-spacing: 2px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  transform: scale(1) rotatey(0);
  opacity: 1;
}

a.sec2:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
}

a.sec3 {
  z-index: 2;
  margin: 30px;
  margin-top: 60px;
  text-decoration: none;
  background: transparent;
  padding: 20px 40px;
  font-size: 16px;
  font-family: sans-serif;
  letter-spacing: 2px;
  transition: all 0.5s;
  position: absolute;
  left: 45%;
  top: 1650px;
}

a.sec3:before {
  content: "Next";
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background: transparent;
  font-size: 16px;
  top: 0;
  left: 100%;
  font-family: sans-serif;
  letter-spacing: 2px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  transform: scale(0) rotatey(0);
  opacity: 0;
}

a.sec3 :hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
}

a.sec3:after {
  content: "Next";
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background: transparent;
  font-size: 16px;
  top: 0;
  left: 0;
  font-family: sans-serif;
  letter-spacing: 2px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  transform: scale(1) rotatey(0);
  opacity: 1;
}

a.sec3:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
}

h1 {
  font-family: 'quiche-sans';
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
  transition: 0.5 0.5 center;
}

@keyframes text {
  0% {
    color: black;
    opacity: 1;
    letter-spacing: 150px;
    text-shadow: 0 0 50px #000;
  }

  50% {
    color: black;
    letter-spacing: 50px
  }

  100% {
    color: black;
    opacity: 1;
    display: grid;
    letter-spacing: 3px;
    text-shadow: 0 0 10px #000;
  }
}

#text {
  font-size: 50px;
  text-transform: uppercase;
  animation: text 3s linear forwards;
}

header {
  height: 100vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  background: #E3C9BB;
}

.scroll-line {
  background: black;
  opacity: 60%;
  top: 0;
  left: 0;
  height: 10px;
  position: fixed;
  z-index: 2;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.how h3 {
  box-sizing: border-box;
  text-align: center;
  font-family: 'quiche-sans';
  text-transform: uppercase;
  font-size: 2.5em;
  color: #8697A6;
  padding: 0.5em;
}

.music {
  height: 100vh;
}

.mus {
  position: absolute;
  top: 1200px;
  left: 25%;
}

.how {
  height: 100vh;
  column-count: 2;
  background-color: #383840;
  display: grid;
  grid-template-columns: 5;
  grid-template-rows: 5;
}

#page-2 {
  height: 100vh;
  background-color: #8697A6
}

.audioPlayer {
  position: absolute;
  top: 150px;
  left: 100px;
  width: 300px;
  height: 300px;
  background-image: url(../images/purpose1.jpeg);
  background-size: contain;
  border-radius: 30px;
  position: relative;
  transition-duration: 0.2s;
  transition-property: all;
  transition-property: all;
}

.audioPlayer:hover {
  transform: scale(1.1);
}

.audioPlayer audio {
  position: absolute;
  bottom: 0;
  width: 100%
}

.audioPlayer1 {
  position: absolute;
  top: -150px;
  left: 39%;
  width: 300px;
  height: 300px;
  background-image: url(../images/fight.png);
  background-size: contain;
  border-radius: 30px;
  position: relative;
  transition-duration: 0.2s;
  transition-property: all;
  transition-property: all;
}

.audioPlayer1:hover {
  transform: scale(1.1);
}

.audioPlayer1 audio {
  position: absolute;
  bottom: 0;
  width: 100%
}

.audioPlayer2 {
  position: absolute;
  top: -450px;
  left: 70%;
  width: 300px;
  height: 300px;
  background-image: url(../images/happy.jpg);
  background-size: cover;
  border-radius: 30px;
  position: relative;
  transition-duration: 0.2s;
  transition-property: all;
}

.audioPlayer2:hover {
  transform: scale(1.1);
}

.audioPlayer2 audio {
  position: absolute;
  bottom: 0;
  width: 100%
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  font-size: 1em;
  font-weight: bold;
  font-family: sans-serif;
  padding: 12px 12px 12px 12px;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #383840;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  height: 100vh;
  border-radius: 5px;
  background-color: #8697A6;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.forms {
  height: 100vh;
  background-color: #8697A6;
}

.map {
  height: 100vh;
  background-color: #8697A6;
}

.asia{
position: absolute;
width: 396px;
 height: 432px;
 top: 610px;
 right: 80px;
 transition-duration: 0.2s;
 transition-property: all;
}

.africa{
  position: absolute;
  width: 240px;
  height: 280px;
  top: 730px;
  right: 371px;
  transition-duration: 0.2s;
  transition-property: all;
}

.north{
position: absolute;
width: 300px;
left: 150px;
height: 300px;
transition-duration: 0.2s;
transition-property: all;
}

.south{
  position: absolute;
  width: 250px;
  left: 300px;
  top: 830px;
  height: 250px;
  transition-duration: 0.2s;
  transition-property: all;
}

.europe{
  rotate: 35deg;
  position: absolute;
  top: 580px;
  right: 368px;
  width: 200px;
  height: 200px;
  transition-duration: 0.2s;
  transition-property: all;
}

.australia{
position: absolute;
width: 152px;
height: 143px;
right: 71px;
top: 894px;
transition-duration: 0.2s;
transition-property: all;
}

.hide {
  display: none;
}

.asia:hover + .hide{
  position: absolute;
  top: 700px;
  right: 300px;
  font-size: 2em;
  font-family: 'quiche-sans';
transform: scale(1.1);
display: block;
  color: white;
}
.asia:hover {
transform: scale(1.1);
display: block;
  color: red;
}

.africa:hover + .hide{
  position: absolute;
  top: 790px;
  right: 450px;
  font-size: 2em;
  font-family: 'quiche-sans';
transform: scale(1.1);
display: block;
  color: white;
}

.africa:hover{
transform: scale(1.1);
display: block;
  color: white;
}

.north:hover + .hide{
  position: absolute;
left: 230px;
top: 700px;
  font-size: 2em;
  font-family: 'quiche-sans';
transform: scale(1.1);
display: block;
  color: white;
}

.north:hover{
transform: scale(1.1);
}

.south:hover + .hide{
  position: absolute;
left: 370px;
top: 900px;
  font-size: 2em;
  font-family: 'quiche-sans';
transform: scale(1.1);
display: block;
  color: white;
}


.south:hover{
transform: scale(1.1);
}

.europe:hover + .hide{
  position: absolute;
  top: 650px;
  right: 400px;
  font-size: 2em;
  font-family: 'quiche-sans';
transform: scale(1.1);
display: block;
  color: white;
}

.europe:hover{
transform: scale(1.1);
}

.australia:hover + .hide{
  position: absolute;
  top: 930px;
  right: 90px;
  font-size: 2em;
  font-family: 'quiche-sans';
transform: scale(1.1);
display: block;
  color: white;
}


.australia:hover{
transform: scale(1.1);
}

.sec{
  transition: all 0.5s;
}
